<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIMA_Sim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DIMA_Sim.Properties.Settings>
            <setting name="AgentsSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ContextSource" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Steps" serializeAs="String">
                <value>1</value>
            </setting>
        </DIMA_Sim.Properties.Settings>
    </userSettings>
</configuration>